#box {
    width: 10vw;
    height: 10vw;
    background-color: #0a9900;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#box p {
    font-size: 1.7vw;
    color: white;
}